.cadastro-usuario {
    max-height: calc(100vh - 252px);
    overflow-y: auto;
    overflow-x: hidden;
    margin-top: 30px;
}

.cadastro-usuario-form {
    margin-top: 70px;
}

@media (max-width: 600px) {
    .cadastro-usuario-form {
        width: 100%;
    }
}

.btn-black {
    background-color: rgb(12, 12, 13);
    color: #fff;
}

.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background-color: rgb(39, 39, 58);
    color: #fff;
}