.font-semibold {
    font-weight: 600;
}

div.container {
    padding-top: 5px;
}

.absolut-center {
    width: 50%;
    height: 30%;
    overflow: auto;
    margin: auto;
    position: absolute;
    top: -200px; left: 250px; bottom: 0; right: 0;
}

@media(max-width: 600px) {
    .absolut-center {
        left: 0;
    }
    .menu-calendario {
        margin-top: 20px;
    }
}

.centralizado {
    width: 50%;
    margin: 0 auto;
}

:invalid {
    box-shadow: none;
}

:-moz-submit-invalid {
    box-shadow: none;
}

:-moz-ui-invalid {
    box-shadow: none;
}